<footer aria-labelledby="footer-heading" class="bg-white">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="py-20 xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-1 gap-8 xl:col-span-2">
        <div class="space-y-16 md:grid md:grid-cols-4 md:space-y-0">
          {% for block in section.blocks %}
            {% if block.type == 'link_list' %}
              {% assign item = block.settings %}
              <div>
                <h3 class="text-sm font-semibold text-gray-900">{{ item.title }}</h3>
                <ul role="list" class="mt-6 space-y-4">
                  {% for link in item.menu.links %}
                    <li class="text-sm transition-all duration-300 ease-in-out transform hover:translate-x-1">
                      <a href="{{ link.url }}" class="text-gray-500 hover:text-gray-700">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% if section.settings.show_newsletter %}
        {% for block in section.blocks %}
          {% if block.type == 'newsletter' %}
            {% assign item = block.settings %}
            <div class="mt-16 md:mt-16 xl:mt-0">
              <h3 class="text-base font-semibold text-gray-900">{{ item.title }}</h3>
              <p class="mt-6 text-base text-gray-500">{{ block.settings.description }}</p>
              <form class="mt-2 flex sm:max-w-md">
                <label for="email-address" class="sr-only">Email address</label>
                <input
                  id="email-address"
                  type="text"
                  autocomplete="email"
                  required
                  class="w-full min-w-0 appearance-none rounded-md border border-gray-300 bg-white px-4 py-2 text-base text-indigo-500 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                  placeholder="{{ block.settings.placeholder }}"
                >
                <div class="ml-4 flex-shrink-0">
                  <button
                    type="submit"
                    class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                  >
                    {{ block.settings.button_text }}
                  </button>
                </div>
              </form>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="border-t border-gray-200 py-10">
      <p class="text-sm text-gray-500">
        Copyright &copy; {{ 'now' | date: '%Y' }}
        {{ section.settings.copyright }}
      </p>
    </div>
  </div>
</footer>
