{%- assign heading = heading | default: 'Customers also purchased' -%}

<section aria-labelledby="related-heading" class="mt-16 sm:mt-24">
  {%- for product in collections.all.products -%}
    {%- if product.tags contains tag and product.id != selected_product.id -%}
      <h2 id="related-heading" class="text-lg font-medium text-gray-900">{{ heading }}</h2>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img
              src="{{ product.featured_image | img_url: 'medium' }}"
              alt="{{ product.title }}"
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
              loading="lazy"
              width="300"
              height="300"
            >
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="{{ product.url }}">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ product.title }}
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">{{ product.variants.first.option1 }}</p>
            </div>
            <p class="text-sm font-medium text-gray-900">{{ product.price | money }}</p>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</section>
